name: TODO-API-NODE CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  docker-build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t todo-app-test .

      - name: Run Security Audit
        run: docker run --rm todo-app-test npm audit

      - name: Run Linting
        run: docker run --rm todo-app-test npm run lint

      - name: Run Prettier Check
        run: docker run --rm todo-app-test npx prettier --check .

      - name: Run Tests
        run: docker run --rm -v ${{ github.workspace }}/coverage:/app/coverage -e NODE_ENV=test todo-app-test npm test

      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: coverage-report
          path: coverage/
          retention-days: 2
  publish-ghcr:
    needs: docker-build-and-test
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image name (lowercase)
        id: img
        run: echo "IMAGE=ghcr.io/${GITHUB_REPOSITORY,,}" >> $GITHUB_OUTPUT

      - name: Build and push (latest + sha)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ steps.img.outputs.IMAGE }}:latest
            ${{ steps.img.outputs.IMAGE }}:${{ github.sha }}
  sonarcloud-scan:
    runs-on: ubuntu-latest
    needs: docker-build-and-test
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - name: Download coverage artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: coverage-report
          path: coverage/

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
